<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro $(find teleopbot_v1_description)/urdf/teleopbot_v1.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-x 0 -y 0 -z 0 -Y 0 -param robot_description -urdf -model teleopbot_v1"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find teleopbot_v1_description)/worlds/goat_kitchen.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
</launch>
